# ide settings
.vscode/

# venv
venv/
.venv/
env/

# byte-code
__pycache__/    

# env vars
.env

# local runtime config
configs/local.toml

# dist
*.egg-info/

# mlops
mlflow.db
mlruns/
artifacts/

# experimentation
notebooks/